html {
    margin: 0.5em;
    border: 1em solid black;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    padding: 0;
    color: black;
}

h1  {
    margin: 0;
    font-size: 6em;
    line-height: 1em;
    letter-spacing: -5px;
}

.column {
    padding: 2em;
    text-align: justify;
    line-height: 1.1em;
}